/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container{
    width: 1200px;
    width: 70%;
    margin: 5% 15%;
    padding: 0;
}